<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SinalServlet</servlet-name>
		<servlet-class>br.pucrio.inf1802.servlet.SinalServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SinalServlet</servlet-name>
		<url-pattern>/sinal/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EventoServlet</servlet-name>
		<servlet-class>br.pucrio.inf1802.servlet.EventoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EventoServlet</servlet-name>
		<url-pattern>/evento/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VeiculoServlet</servlet-name>
		<servlet-class>br.pucrio.inf1802.servlet.VeiculoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VeiculoServlet</servlet-name>
		<url-pattern>/veiculo/*</url-pattern>
	</servlet-mapping>
	
	
	
	
</web-app>